<div class="container">
  <h1>Other Works</h1>
  <% if user_signed_in? %>
   <%= link_to '作成', new_other_path %>
  <% end %>
  <div class="row">
    <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
      <% @others.each do |other| %>
      <div class="kiji">
        <p><%= image_tag other.image(:thumb) %></p>
        <div class="mike">
          <p>
            <h2><%= link_to other.title, other_path(other) %></h2>
          </p>
          <%= other.description %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
