<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div style="width 20px">
        <img src="<%= asset_path "naito.png" %>" class="img-responsive">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="text-cneter">
      <h1>内藤耕平</h1>
    </div>
      <div class="text">
        <h2>「可愛い妹」という存在を信じられなってしまった時</h2>
        「俺の妹がこんなに可愛いわけがない」や「エロマンガ先生」を初め、妹萌えというのは常に人気のあるジャンルの一つ。
        でも「三次元の妹がこんなに可愛いはずがない」と思った時、可愛い妹がいる僕の存在はすごく役立ちますよ。
        うちの大学1年生の妹、本当に可愛い。マジで。LINEとか返って来ないこともよく
        ありますが、その性格の悪さも含めて本当に可愛いんです。「可愛い妹」という存在がフィクション
        だと思い夢を失いかけた時、それが実在すると信じるに足る話を出来るはず…。
        <h2>怖い話を聞いてせいで眠れなくなった時</h2>
        　洒落怖を読んで怖くって眠れなくなった時とか、活躍するかもしれません!! 大学で物語の構造分析、特に
        卒論では「なぜ幽霊が見えるのか」ということを研究していたので、八尺様を読んで怖くて眠れない時、
        </br>
        <h2>くだらない話が聞きたい時</h2>
        　永延とくだらない話を続けることが出来ます。誰の役にも立たない、中身のないくだらない話ですよ。
        家の近くの野良猫が可愛いとか、 ダッフィーの右手は美味しいのか、とかそんな意味のない話を飽きずに
        何時間も続けられます。話の内容は本当に役に立ちません。時間を浪費するということを考えれば、
        むしろ毒かもしれない。でも、それでも時間が余って仕方ないという人には是非ともおすすめしたい。
        これであなたの退屈が少しは紛れるかも!?
        </br>
        困っていること
        ニール・ブロムカンの"Rakka"を見て以降、宇宙人の侵略が微妙に怖い。これまでって地球に来る技術を持った
        宇宙人がわざわざ侵略して来る可能性はないと思ってた。だってずっと進んだ文明を持ってるはずだから。</br>
        でも、よく考えたら別に進化した文明だから争いを嫌うっていうのは、こっちの勝手な思い違いな訳で、
        もしかしたら地球にやって来る文明を持った宇宙人にとっては、争いことが全てって考え方もあるのかもしれない。
        もしかして彼らにとっては蟻を踏み潰す感覚なのかもしれないし。そう思うと少し怖い。

    </div>
  </div>
</div>
</div>
