<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div style="width 20px">
        <img src="<%= asset_path "naito.png" %>" class="img-responsive">
      </div>
    </div>
    <div class="col-sm-6">
      <h1>こんな時に役立ちます？</h1>
      <div class="text">
        <h2>「可愛い妹」の実在を疑う時</h2>
        「俺の妹がこんなに可愛いわけがない」や「エロマンガ先生」を初め、妹萌えというのは常に人気のあるジャンルの一つ。
        でも「三次元の妹がこんなに可愛いはずがない」と思った時、可愛い妹がいる僕の存在はすごく役立ちますよ。
        うちの大学1年生の妹、本当に可愛い。LINEとか返って来ないこともよく
        ありますが、その性格の悪さも含めて本当に可愛いんです。「可愛い妹」という存在がフィクション
        だと思い夢を失いかけた時、それが実在すると信じるに足る話を出来るはず…。
        <h2>幽霊が怖いか仲良くなりたい時</h2>
        　洒落怖を読んで怖くって眠れなくなった時とか、活躍するかもしれません!! 大学で物語の構造分析、特に
        卒論では「なぜ幽霊が見えるのか」ということを研究していたので、八尺様を読んで怖くて眠れない時、もし
        かしたら気休め程度に役立つ可能性もあり。また、逆に怖い話を聞きたい時も役立ちます。背筋をぞっとさせたい
        時なんかに是非とも話をさせてください。でも、こっちは稲川順二みたいに話をする練習をしてことはなく、
        ただ情報として話の内容が頭の中にあるだけなので、よく話の重要な部分やオチを忘れます。

        <h2>くだらない話が聞きたい時</h2>
        　永延とくだらない話を続けることが出来ます。誰の役にも立たない、中身のないくだらない話を。
        家の近くの猫が可愛いとか、 ダッフィーの右手は美味しいのか、とかそんな意味のない話を飽きずに
        何時間も続けられます。話の内容は毒でも薬でもないですが、時間を浪費を考えると、むしろ毒よりです。
        でも、それでも時間が余って仕方ないという人には試してください。

        <h2>困っていること</h2>
         最近、宇宙人の侵略が微妙に怖いです。これまでは地球に来る技術を持った
        宇宙人が、わざわざ侵略して来る可能性はないと思ってた。だって、ずっと進んだ文明に生きる彼らが、
        争いを好むはずがないから。</br>
        でも、別に進化した文明は争いを嫌うって確証はないって気がついた。
        より進んだ文明を持った宇宙人にとって、争いことが平和って考え方もあるのかもしれない。
        争いは嫌うけど、地球人を殺すのは蟻を潰すのと同じ感覚なのかもしれない。
    </div>
  </div>
</div>
</div>
