<h1>As engineer's Work</h1>
<div class='container'>
  <div class='row'>
<% @engineers.each do |engineer| %>
  <%= image_tag engineer.image(:medium) %>
  <h2><%= engineer.title %></h2>
  <%= engineer.description  %>
<% end %>
  </div>
</div>
