// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body {
  background-colo: #E9EAED;
}

.naito.png {
  width: 15px;
  height: 15px;
}

.wrapper {
  margin-bottom: 74px;
  padding: 20px 20px 20px 35px;

  .row {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
  }
}

.kiji {
  display: flex;
  flex-flow: row wrap;

  .mike {
    text-align: left;
    margin-left: 10px;
  }
}

.html {
  position: relative;
  min-height: 100%;
}

.body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #f0f0f0;
}

.header{
  background-color: #242424;
}

h2{
	position: relative;
	padding:0 0 5px 0;
	font-size:20px;
	border-bottom:#BFBFBF dotted 1px;
}
h2:first-letter{
	font-size:35px;
	color:#325A8C;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #242424;
}
